* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.logo {
    text-align: center;
    margin-top: 50px;
}

/* Main Top Content */
.main {
    text-align: center;
    background-color: lightgray;
    margin: 0 50px;
    height: 80px;
}

.main input {
    display: block;
    margin: auto;
    width: 400px;
}
/* Main Bottom Content */
.bottom {
    margin: 0 50px;
}
.cards {
    background-color: lightseagreen;
    height: 80px;
    text-align: center;
    
}
.cards1 {
    float: left;
    width: 35%;
    padding-left: 50px;
    margin-right: 5px;
}
.cards2 {
    float: left;
    width: 24%;
}
.cards3 {
    float: left;
    width: 40%;
    margin-left: 5px;
}
.cards::after {
    content: "";
    clear: both;
    display: table;
}
.card32 input {
    width: 160px;
}
.card33 button {
    padding: 1px;
}

/* Footer */

footer {
margin-top: 100px;
text-align: center;
}